.modal.fade.bs-example-modal-lg#confirm_artiste_as_not_selected_modal
  .modal-dialog.modal-lg{role: "document"}
    .modal-content
      .container
        - form = V2::SendEmailShortlistForm.new(id: @shortlist.id, email_code: "#{current_user.full_name}_#{@shortlist.id}_#{Time.now.utc}")
        = simple_form_for form, url: confirm_artiste_as_not_selected_v2_shortlist_path(@shortlist), method: :post do |f|
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %h4.modal-title Confirm an artiste as not selected for a call.
          .modal-body
            .row
              .col-xs-12
                %label An email will be sent to the artiste for informing him/her about the call
            .row
              .col-xs-12
                %label Sending to:
                %em.warning-messages
            %hr
            - # Generic questions can be added or removed.
            .row
              .col-xs-12
                %h4 Questions
            .row#questions
              .col-xs-12
                = f.simple_fields_for :questions do |question|
                  = render partial: 'question_fields', locals: {f: question}
              .col-xs-12
                .links
                  = link_to_add_association 'Add Question', f, :questions, force_non_association_create: true, class: 'btn btn-primary btn-sm'
            %hr
            = f.input :email_code, as: :hidden
            = f.input :artistes_to_send_email, as: :hidden, input_html: {value: ''}
            = f.input :state, as: :hidden
            = f.input :subject,  label: "Email subject. It defaults to 2020 Casting - Job Update", input_html: {value: ''}, placeholder: 'Subject', required: true
            = f.input :additional_message, as: :text, placeholder: "Additional message.", input_html: {value: '', rows: "10"}, label: 'Insert here some additional message to the template.'
          .modal-footer
            = f.button :submit, 'Send email', class: 'btn btn-primary'
