= render partial: 'reject_artistes_modal'
= render partial: 'send_availability_email_modal'
= render partial: 'send_generic_email_modal'
= render partial: 'add_artiste_to_book_modal'
= render partial: 'change_scenic_artistes_attributes_modal'
= render partial: 'confirm_artiste_as_selected_modal'
= render partial: 'release_artiste_modal'
= render partial: 'shortlist_settings_modal'
= render partial: 'shortlist_books_modal'
= render partial: 'process_runners_modal'
= render partial: 'filters_for_state_modal'
= render partial: 'send_generic_sms_modal'
= render partial: 'add_to_shortlist_modal'
= render partial: 'change_available_dates_modal'
= render partial: 'send_details_to_artistes_modal'
= render partial: 'notice_modal'
